* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    height: 10vh;
    background-color: aliceblue;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;


}
.content-container {
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tabs {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
    /* padding: 20px 0; */

    /* border: 1px solid black; */
}
.tab-leagues {
    width: 300px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    background-color: black;
    color: white;
    height: 50px;
    cursor: pointer;
}
.tab-standings {
    width: 300px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    background-color: black;
    color: white;
    height: 50px;
    cursor: pointer;

}
.leagues-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.league-div {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    background-color: white;
    box-shadow: 3px 3px 10px 0.1px rgba(103, 103, 103, 0.487);

    
}
.league-div:hover {
    transform: scale(1.1);
    border: 1px solid green ;
    z-index: 10;
}
.league-div p {
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    margin-top: 20px;

}
img {
    width: 200px;
    height: auto;
}
.select-container {
    display: flex;
    gap: 3px;
}
#select-league {
    width: 100%;
    padding: 10px 5px;
}
#select-year {
    padding :5px;
}
.standing-h3 {
    border: 1px solid black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50vw;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 3px 3px 10px 0.1px rgba(103, 103, 103, 0.487);
    
}
.standing-span {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 0;
}
.standing-h3 img {
    width: 50px;
    height: auto;
    margin-left: 10px;
}

.footer {
    width: 100%;
    height: 10vh;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
.standing-results {
    display: grid;
    place-items: center;
    padding: 10px 0;
    /* width: 100%; */
}


@media screen and (max-width:600px) {
    body {
        width: 100vw;
    }
    .leagues-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        /* cursor: pointer; */
        /* margin: 30px; */
        width: 100vw;

        


    }
    .league-div{
        width: 96%;
        padding: 0;
        margin: 0;

        display: flex;
        margin: 5px 2px;
        box-shadow: 3px 3px 10px 0.1px rgba(103, 103, 103, 0.235);


    }

    .league-div:hover {
        transform: none;
    }
    .standing-h3 {
        width: 80vw;

    }
    #select-league, #select-year {
        /* margin-bottom: 30px; */
        border: 1px solid black;
        padding: 15px 5px;
        margin-bottom: 10px;
    }
    .tabs {
        border: none;
        box-shadow: 3px 3px 10px 0.1px rgba(103, 103, 103, 0.157);

    }
}